*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-multiselect-item {
  gap: 3px;
}
